<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="navbar-logo">Gold Seller</a> </div>
  <ul class="navbar-links">
    <li><a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Início</a></li>
    <li><a routerLink="/users" routerLinkActive="active-link">Usuários</a></li>
    <li><a routerLink="/sobre" routerLinkActive="active-link">Sobre</a></li>
  </ul>
  <ul class="navbar-actions">
    <ng-container *ngIf="isLoggedIn$ | async; else naoLogado">
      <li *ngIf="currentUserProfile?.totalGold; else naoTemGold">Gold: {{currentUserProfile?.totalGold | number}}</li>
      <li *ngIf="currentUserProfile?.totalMoney; else naoTemMoney">R$ {{currentUserProfile?.totalMoney | number}}</li>
      <li *ngIf="isLoggedIn$ | async"> <a (click)="logout()" href="javascript:void(0);" class="logout-link">Logout</a></li>
    </ng-container>
  </ul>
</nav>

<ng-template #naoLogado>
  <li>
    <a routerLink="/login" routerLinkActive="active-link">Login</a>
  </li>
</ng-template>

<ng-template #naoTemMoney>
  <li>R$ 0</li>
</ng-template>

<ng-template #naoTemGold>
  <li>Gold: 0</li>
</ng-template>