<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="navbar-logo">GOLD SELLER</a>
  </div>
  <ul class="navbar-links">
    <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Início</a></li>
    <li><a routerLink="/users" routerLinkActive="active-link">Usuários</a></li>
    <li><a routerLink="/sobre" routerLinkActive="active-link">Sobre</a></li>
    </ul>
  <ul class="navbar-actions">
    <li><a routerLink="/login" routerLinkActive="active-link" *ngIf="!token">Login</a></li>
    <li><a routerLink="/login" routerLinkActive="active-link" *ngIf="token">Logout</a></li>

    </ul>
</nav>