<app-header></app-header>
<!--<button (click)="buscarDadosExemplo()">Get</button>
<button (click)="redirectToGetAllUsers()">Teste</button>

<div *ngIf="dadosRecebidos" style="margin-top: 15px; border: 1px solid green; padding: 10px;">
    <h2>Dados Recebidos via GET:</h2>
    <pre>{{ dadosRecebidos | json }}</pre>
</div>

<div *ngIf="respostaPost" style="margin-top: 15px; border: 1px solid blue; padding: 10px;">
    <h2>Resposta do POST:</h2>
    <pre>{{ respostaPost | json }}</pre>
</div>

<div *ngIf="erroApi" style="margin-top: 15px; border: 1px solid red; padding: 10px; color: red;">
    <h2>Ocorreu um Erro:</h2>
    <p>{{ erroApi }}</p>
</div>-->
<router-outlet />
