/* styles.css */

.btnGoldSellerPrimary {
  background-color: #FFD700; /* Cor de ouro */
  color: black; /* Cor do texto (para boa visibilidade com o ouro) */
  padding: 10px 20px; /* Espaçamento interno para o texto não ficar colado nas bordas */
  border: none; /* Remove a borda padrão */
  border-radius: 5px; /* Arredonda as bordas (opcional) */
  cursor: pointer; /* Muda o cursor ao passar por cima, indicando que é clicável */
  font-size: 1em; /* Tamanho da fonte (ajuste conforme necessário) */
  text-align: center; /* Centraliza o texto horizontalmente */
  display: inline-block;
  font-weight: 600;
}

.btnGoldSellerPrimary:hover{
    background-color: #B8860B;
}

.body, html{
  background-color: #000000f5;
}

.form-principal{
  display: flex;
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
}