<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gold Seller</title>
</head>
<body>

    <h1>Bem-vindo ao Gold Seller</h1>
    <div>
        <button class="btnGoldSellerPrimary" style="margin-top: 20px; margin-right: 30px;" (click)="logar()">Entre</button>
        <button class="btnGoldSellerPrimary" style="margin-right: 30px; margin-bottom: 20px;" (click)="registrar()">Registre-se</button>
        <hr>
    </div>
    
</body>
</html>